<% @heartbeats.each do |beat| %>
  <tr>
  <td>Time : <%= beat.log_time %></td>
  <td>Language : <%= beat.language || "Not Found" %></td>
  <td>is_write : <%= beat.is_write || "Not Found" %></td>
  <td>num_lines : <%= beat.num_lines %></td>
  <td>Entity : <%= beat.entity || "Not Found" %></td>
  <td>Project : <%= beat.project || "Not Found" %></td>
  <td>Branch : <%= beat.branch || "Not Found" %></td>
  <td>log_type : <%= beat.log_type || "Not Found" %></td>
  <td>Data : <%= beat.log_data.inspect %></td>
  </tr><br><br>
<% end %>
